#header {
  position: sticky;
  top: 0;
  padding: 2em 0 2em 2em;
  background-color: transparent;
  max-width: 1920px;
  margin: 0 auto;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__title {
    a {
      cursor: pointer;
    }
  }
  .header__image {
    width: 80px;
  }
  .linkContainer {
    display: flex;
    justify-content: flex-end;
    a {
      font-size: 1.25em;
      padding: 0 2em;
      cursor: pointer;
      font-weight: 300;
    }
  }
}
